#applecard{
    width: 100%;
    padding: 16px ;
    background-image: var(--nav-gradient);
    color: var(--text-primary-black);   
    text-align: center;
    font-size: 17px;
    line-height: 25px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.applecard-svg{
    display: inline;
}

#applecard span{
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}

#applecard p .applecard-svg{
    transition: transform 0.5s ease;
}

#applecard p:hover .applecard-svg{
    transform: translateX(24px);
}

@media(width:799px){
    #applecard{
        font-size: 15px;
    }
}