#footer{
    background-color: var(--neutral950);
    padding: 80px 12%;
    font-size: 12px;
    font-weight: 400;
}

.footer-top, .footer-bottom-top{
    color: var(--text-secondary-white);
    border-bottom: 1px solid var(--text-disabled-white);
}

.footer-top ul{
    list-style: none;
}

.footer-top span, .footer-bottom span{
    color: var(--text-primary-white);
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 2px;
}

.footer-middle{
    color: var(--text-secondary-white);
}

.footer-middle .footer-middle-top{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-middle-top .apple-logo-white{
    font-size: 16px;
}

.footer-middle-top .apple-logo-white:hover{
    color: var(--text-primary-white);
    cursor: pointer;
    font-size: 16px;
}

.footer-middle .footer-middle-bottom{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.footer-middle ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 28px;
}

.footer-middle ul li:hover{
    cursor: pointer;
    color: var(--text-primary-white);
}

.footer-middle b{
    color: var(--text-primary-white);
}

.footer-bottom {
    color: var(--text-secondary-white);
}

.footer-bottom-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-bottom-bottom p:nth-child(1), .footer-bottom-bottom p:nth-child(3){
    color: var(--text-primary-white);
}

.footer-middle .footer-mobile{
    display: none;
}


@media(max-width:954px){
    #footer{
        padding: 24px;
    }
}



@media(max-width:799px){
    #footer{
        padding: 40px 16px;
    }

    .footer-middle .footer-web{
        display: none;
    }

    .footer-middle .footer-mobile{
        display: block;
    }

    .slide-down{
        border-bottom: 1px solid var(--text-disabled-white);
        padding-bottom: 8px;
    }

    .down-icon{
        color: var(--text-disabled-white);
        cursor: pointer;
    }

    .footer-bottom-bottom{
        display: flex;
        align-items: start;
        justify-content: space-between;
        gap: 12px;
        flex-direction: column-reverse;
    }
}