#home{
    background-color: var(--neutral950);
    padding: 64px 12%;
    color: var(--text-secondary-white);
    user-select: none;
    overflow: hidden;
}

.home-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-text{
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4%;
}

.home-text p{
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
}

.home-img{
    margin: 48px auto 0px auto;
}

.home-img img{
    margin: 0px auto;
}

@media(max-width:799px){
    #home{
        padding: 64px 8%;
    }
}

@media(max-width:599px){
    .home-text p{
        font-size: 17px;
    }

    #home{
        padding: 64px 48px;
    }
    
}