#whatitdoes{
    padding: 80px 12% ;
}

#whatitdoes h2{
    font-size: 96px;
    text-align: center;
}

.whatitdoes-image{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}


/* horizontal scroll bar --begin */

.whatitdoesimg{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 56px;
    scroll-snap-align: start;
}

.what-img1 img, .what-img2 img, .what-img3 img{
    width: 22vw;
}

.what-text{
    width: 30vw;
}

.what-text span img{
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.what-text span:hover img{
    opacity: 1;
    transform: translateX(24px);
    
}

.what-text h3{
    font-size: 32px;
    color: var(--text-primary-black);
    letter-spacing: -0.5px;
}

.what-text p{
    letter-spacing: -0.7px;
    font-size: 24px;
    color: var(--text-secondary-black);
    margin-bottom: 32px;
    margin-top: 4px;
}

.what-text span{
    letter-spacing: -0.2px;
    font-size: 22px;
    color: var(--text-secondary-black);
    background-image:var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}


.what-text span img{
    display: inline-block;
    width: 16px;
}

.what-img1 .mobile, .what-img2 .mobile, .what-img3 .mobile{
    display: none;
}

.what-img1 .web, .what-img2 .web, .what-img3 .web{
    display: block;
}

@media(max-width:1099px){
    #whatitdoes h2{
        font-size: 64px;
    }

    .what-text{
        width: 50vw;
    }
    
}

@media(max-width:799px){

    .what-img1 .mobile, .what-img2 .mobile, .what-img3 .mobile{
        display: block;
        width: 50vw;
    }

    .what-img1 .web, .what-img2 .web, .what-img3 .web{
        display: none;
    }

    .what-img1 img, .what-img2 img, .what-img3 img{
        width: 22vw;
    }


    #whatitdoes h2{
        font-size: 48px;
        text-align: left;
    }

    .whatitdoes-image{
        flex-direction: column;
        justify-content: center;
    }

    .whatitdoesimg{
        flex-direction: column;
    }

    .what-text{
        width: 100%;
    }
    
    #whatitdoes{
        padding: 80px 24px ;
    }

    .what-text h3{
        font-size: 24px;

    }
    
    .what-text p{
        font-size: 20px;
    }
    
}
